################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthServer/.vs
/AuthServer/.vs/AuthServer
/AuthServer/bin/Debug/
/AuthServer/bin/Release/
/AuthServer/obj
/AuthServer/logs
/AuthServer/Properties/PublishProfiles
